body {
    margin: 0;
}

button,
input[type=submit] {
    border: none;
    border-radius: 0;
    padding: 7px;
    background-color: #b0b0b0;
}

button:hover,
input[type=submit]:hover {
    background-color: #909090;

}

a {

}

.header {
    width: 100%;

    background-color: #d0d0d0;
}

.header > a {
    margin: 10px;
    display: inline-block;
}


.body {
    margin: 5px;
}

.category-title {
    margin-left: 25px;
}

.article {
    margin: 15px;
    padding: 10px;
    width: calc(100% - 50px);
    background-color: #f0f0f0;
}

.article .edit-button {
    float: right;
}

.article .title {
    font-size: larger;
}

.article .meta {
    margin-top: 5px;
    color: #808080;
    font-size: small;
}

.article .content {
    margin-top: 10px;
}

.article .input-field {
    width: 100%;
}

.article textarea.input-field {
    height: 150px;
}

.article .error {
    margin-top: 5px;
    padding: 5px;
    background-color: #ffd080;
    color: #ff0000;
}

.article .error:nth-child(1) {
    margin-top: 15px;
}

.article .save-button {
    margin-top: 15px;
}

.prev-page-button {
    position: absolute;
    left: 25px;
}

.next-page-button {
    position: absolute;
    right: 25px;
}
